.resume-columns {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
  }
  
  .left-column {
    flex: 1;
    padding: 0 20px 0 0;
    border-radius: 50%;
  }
  
  .right-column {
    flex: 1;
    padding: 0 0 0 20px;
  }
  